<div class="wrapper">

  <div class="greeding-wrapper">
    <div class="greeding">
      <h1 class="greeding-text">Can•Code•Ka</h1>
      <h3 class="sub-header">The 1st non-profit IT networking for women in Thailand</h3>
      <div class="">
        <a class="seemore-btn" href="#body">See More</a>
      </div>
    </div>
  </div>

  <div id="body" class="aboutus-wrapper">
    <div class="aboutus">
      <h2>Who are we ?</h2>
      <hr class="hr-line">
      <p>CanCodeKa is a non-profit networking organisation for women,
        <br>where established to encourage the female in Thailand
        <br>to reach their full potential in IT industry.</p>

      <h2 class="spacing">What is our goal ?</h2>
      <hr class="hr-line">
      <p>Our goal are to encourage more women in technology,
        <br> to change the image of what people think a programmer looks likes
        <br> and to make people understand the diversity in the technology industry</p>
      <!-- <p>Photo by Christin Hume on Unsplash</p> -->

      <img src="../../assets/images/cancodeka2.png" class="logo" />

      <h2>Our plan are:</h2>
      <li>Cancodeka's campaign (coming soon..)</li>
      <li>Thailand very 1st technical women conference.</li>

    </div>
  </div>

  <div class="footer">
    <div class="donation">
      <a class="seemore-btn" (click)="openSocial(gogetfund)">Donate</a>

      <!-- Add font awesome icons -->
      <div class="social-share">
        <a href="#" class="fa fa-facebook" (click)="openSocial(facebook)"></a>
        <!-- <a href="#" class="fa fa-twitter" (click)="openSocial(twitter)"></a> -->
        <a href="#" class="fa fa-google" (click)="openSocial(gmail)"></a>
        <a href="#" class="fa fa-linkedin" (click)="openSocial(linkedin)"></a>
        <!-- <a href="#" class="fa fa-youtube"></a> -->
        <a class="fa fa-medium" (click)="openSocial(medium)"></a>
      </div>

      <p class="alright">© CanCodeKa 2019. All rights reserved.</p>
    </div>
  </div>

</div>
