<div class="greeding-wrapper">
  <div class="greeding">
    <h1 class="greeding-text">Can•Code•Ka</h1>
    <h3 class="sub-header">The 1st non-profit IT networking for women in Thailand</h3>
    <a class="seemore-btn" href="#body">See More</a>
  </div>
</div>

<div id="body" class="aboutus-wrapper">
  <div class="aboutus">
    <h2>Who are we?</h2>
    <p>CanCodeKa is a non-profit networking organisation for women, 
      <br>where established to encourage the female in Thailand 
      <br>to reach their full potential in IT industry.</p>
      
      <img src="../../assets/images/cancodeka2.png" class="logo" />
      
    <h2>What is our goal?</h2>
    <p>Our goal are to encourage more women in technology, to change the image of what people think a programmer looks likes
      and to make people understand the diversity in the technology industry</p>
      <p>Photo by Christin Hume on Unsplash</p>
  </div>

  <h2>Our plan are:</h2>
  <li>Cancodeka's campaign (coming soon..)</li>
  <li>Thailand very 1st technical women meet up.</li>
</div>