/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
  }

a {
    cursor: pointer;
}
